@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'roboto';
  src: url('./utils/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'open';
  src: url('./utils/OpenSans-Medium.ttf');
}
